
.form-label{
  font-weight: bold;
  text-align: center;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 16px;
  
}

.custom-file-upload input[type="file"] {
 color: white;
}

